{#
/**
 * @file
 * Default theme implementation to Kwall Share Bar block.
 *
 * Available variables:
 * - providers: An array of providers.
 * - url: URL to the page or node.
 * - title: Title of the page or node.
 *
 * @ingroup themeable
#}

<div class="kwall-share-bar">
  <h3 class="sidebar left-border">{{ 'Share'|t }}</h3>
  <ul class="share-list">
    {% for provider in providers %}
      <li>
        {% if provider == 'facebook' %}
          {% set icon = 'fa fa-' ~ provider ~ '-square' %}
          {% set link = 'https://www.facebook.com/sharer/sharer.php?u=' ~ url ~ '&t=' ~ title %}
          <a class="share-on {{ provider }}"
             href="{{ link }}"
             target="popup"
             onclick="window.open('{{ link }}', 'popup', 'width=600, height=600'); return false;"><i
              class="{{ icon }}"></i></a>
        {% endif %}
        {% if provider == 'twitter' %}
          {% set icon = 'fa fa-' ~ provider ~ '-square' %}
          {% set link = 'https://twitter.com/intent/tweet?text=' ~ title ~ '&url=' ~ url %}
          <a class="share-on {{ provider }}"
             href="{{ link }}"
             target="popup"
             onclick="window.open('{{ link }}', 'popup', 'width=600, height=600'); return false;"><i
              class="{{ icon }}"></i></a>
        {% endif %}
        {% if provider == 'email' %}
          {% set icon = 'fa fa-envelope' %}
          {% set link = 'mailto:?Subject=' ~ title ~ '&Body=' ~ url %}
          <a class="share-on {{ provider }}"
             href="{{ link }}"
             target="popup"
             onclick="window.open('{{ link }}', 'popup', 'width=600, height=600'); return false;"><i
              class="{{ icon }}"></i></a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
